#roadmap{
    background-color: #020818;
    position: relative;
    overflow: hidden;
}
#roadmap .token-purple-big{
    width: 300px;
    height: 300px;
}
#roadmap .content-timeline p{
    margin-bottom: 0px;
    line-height: 28px;
}
#roadmap .title-roadmap{
    font-weight: 700;
    font-size: 53px;
    color: #5255cd;
    position: absolute;
    top: 15%;
    left: 0;
}
#roadmap .title-roadmap p{
    width: 175px;
    line-height: 70px;
    word-wrap: break-word;
    font-weight: 700;
    word-break: break-all;
    margin-bottom: 0;
}
.mobile-tile{
    display: none;
}
/* timeline desktop*/
/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    background: #F45B69;
    padding: 50px 0;
}

.section .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.section h1 {
    font-size: 2.5rem;
}

.section h2 {
    font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
    white-space: nowrap;
    overflow-x: hidden;
    margin-left: 123px;
    position: relative;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 300px 0;
    transition: all 1s;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 140px;
    height: 3px;
    background: #313A5A;
}

.timeline ol li.active:first-of-type {
    background: linear-gradient(90deg,#3023AE 0%,#6DB2D7 100%);
}
.timeline ol li.child-active:first-of-type {
    background: linear-gradient(90deg,#3023AE 0%,#6DB2D7 100%);
}
.timeline ol li.active {
    background: #6DB2D7;
}
.timeline ol li.child-active {
   background: #6DB2D7;
}

.timeline ol li:last-child {
    width: 280px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #6d7278;
}
.timeline ol li.active:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: linear-gradient(270deg, #E28B4F 0%, #FFDCCA 100%);
    z-index: 100;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + -125px);
    width: 280px;
    padding:0px 15px;
    font-size: 16px;
    white-space: normal;
    color: #6D7278;
    background: transparent;
    text-align: center;
}
.timeline ol li.active div {
    color: #FFFFFF;
}

.timeline ol li div::before {
    display: none;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ol li:nth-child(even) div {
    top: -16px;
    transform: translateY(-100%);
}

.timeline ol li:nth-child(even) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(odd) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(odd) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}

.timeline time {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #FFFFFF;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
    margin-right: 20px;
}

.timeline .disabled {
    opacity: .5;
}

.timeline .arrows img {
    width: 45px;
    height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
        width: auto;
    }

    .timeline ol {
        padding: 0;
        transform: none !important;
    }

    .timeline ol li {
        display: block;
        height: auto;
        background: transparent;
    }

    .timeline ol li:first-child {
        margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: auto;
    }

    .timeline ol li div {
        width: 94%;
        height: auto !important;
        margin: 0 auto 25px;
    }

    .timeline ol li div {
        position: static;
    }

    .timeline ol li:nth-child(odd) div {
        transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        border: none;
        border-left: 1px solid white;
        height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
        display: none;
    }
}

/* timeline mobile*/

div.item {
    display: flex;
    flex: auto;
    overflow-y: auto;
    padding: 0rem 1rem 0rem 1rem;
}

#timeline-mobile {
    position: relative;
    display: none;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
/*#timeline-mobile div:after {*/
/*    content: '';*/
/*    width: 2px;*/
/*    position: absolute;*/
/*    top: .5rem;*/
/*    bottom: 0rem;*/
/*    left: 60px;*/
/*    z-index: 1;*/
/*    background: #C5C5C5;*/
/*}*/
#timeline-mobile .year:after {
    content: '';
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    z-index: 1;
    background: linear-gradient(90deg,#3023AE 0%,#c86dd7 100%);
}
#timeline-mobile .year.child-active:first-of-type:after {
    background: linear-gradient(90deg,#3023AE 0%,#6DB2D7 100%);
    width: 12px;
    left: 12px;
    clip-path: polygon(50% 0%, 72% 100%, 7% 100%);
}
#timeline-mobile .year.child-active:after {
    /*background: #6DB2D7;*/
    background: linear-gradient(90deg,#3023AE 0%,#6DB2D7 100%);
    width: 8px;
    left: 12px;
}
#timeline-mobile h3 {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    color: #888;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
}
@media (min-width: 62em) {
    #timeline-mobile h3 {
        font-size: 1.1em;
    }
}
#timeline-mobile section.year {
    position: relative;
}
#timeline-mobile section.year:first-child section {
    margin-top: -1.3em;
    padding-bottom: 15px;
    text-align: center;
}
#timeline-mobile section.year section {
    position: relative;
    padding-bottom: 1.25em;
    margin-bottom:0;
    padding-top: 0px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}
#timeline-mobile section.year section h4 {
    /*position: absolute;*/
    top: 0;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    /*padding: 0 0 0 89px;*/
    color: #FFFFFF;
}
@media (min-width: 62em) {
    #timeline-mobile section.year section h4 {
        font-size: 1em;
    }
}
#timeline-mobile section.year section ul {
    list-style-type: none;
    /*padding: 0 0 0 75px;*/
    padding: 0;
    margin: -1.35rem 0 1em;
    max-width: 32rem;
    font-size: 1em;
}
@media (min-width: 62em) {
    #timeline-mobile section.year section ul {
        font-size: 1.1em;
        padding: 0 0 0 81px;
    }
}
#timeline-mobile section.year section ul:last-child {
    margin-bottom: 0;
}
#timeline-mobile section.year section ul:first-of-type:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #C5C5C5;
    border: 2px solid #FFFFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: -22px;
    top: 0px;
    z-index: 2;
}
#timeline-mobile section.year.active section ul:first-of-type:after{
    width: 20px;
    height: 20px;
    background: linear-gradient(270deg,#E28B4F 0%, #ffdcca 100%);
    left: -27px;
}
#timeline-mobile section.year section ul li {
    margin-left: .5rem;
    color:#6D7278;
    font-size: 16px;
    font-weight: 400;
}
#timeline-mobile section.active.year section ul li {
    color:#FFFFFF;
}
#timeline-mobile section.year section ul li:before {
    content: '·';
    margin-left: -.5rem;
    padding-right: .3rem;
}
#timeline-mobile section.year section ul li:not(:first-child) {
    margin-top: .4rem;
}
#timeline-mobile section.year section ul li span.price {
    color: mediumturquoise;
    font-weight: 500;
}

#btcwidget {
    display: inline;
}
#btcwidget img {
    display: none;
}

svg {
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}


@media screen and (min-width: 1700px){
    .timeline{
        margin-left: 400px;
    }
    .timeline ol li{
        width: 180px;
    }
}
@media screen and (max-width: 538px){
    #timeline-mobile{
        display: table;
        visibility: visible;
    }
    .timeline{
        display: none;
        visibility: hidden;
    }
    .mobile-tile{
        display: block;
    }
    .desktop-tile{
        display: none;
    }
}
@media screen and (min-width: 538px) and (max-width: 767px){
    #timeline-mobile{
        display: table;
        visibility: visible;
    }
    #roadmap .desktop-tile{
        display: none!important;
    }
    #roadmap .title-roadmap{
        position: relative;
        font-size: 32px;
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
    #roadmap .title-roadmap p{
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    #timeline-mobile{
        display: table;
        visibility: visible;
    }
    .timeline{
        display: none;
        visibility: hidden;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    #timeline-mobile{
        display: table;
        visibility: visible;
    }
    .timeline{
        display: none;
        visibility: hidden;
    }
    #roadmap .desktop-tile{
        display: none!important;
    }
    #roadmap .title-roadmap{
        position: relative;
        font-size: 32px;
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
    #roadmap .title-roadmap p{
        text-align: center;
    }
}
@media screen and (max-width: 1024px){
    #timeline-mobile{
        display: table;
        visibility: visible;
    }
    .timeline{
        display: none;
        visibility: hidden;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1439px){
    #timeline-mobile{
        display: none!important;
        visibility: hidden;
    }
    .timeline{
        display: block;
        visibility: visible;
        margin-left: 20px;
    }
}
@media screen and (min-width: 1366px) and (max-width: 1440px) {
    #timeline-mobile{
        display: none!important;
        visibility: hidden;
    }
    .timeline{
        display: block;
        visibility: visible;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    #timeline-mobile{
        display: none!important;
        visibility: hidden;
    }
    .timeline{
        display: block;
        visibility: visible;
        margin-left: 20px;
    }
    #roadmap .title-roadmap{
        position: relative;
        display: flex;
        justify-content: center;
    }
    #roadmap .desktop-tile{
        display: none!important;
    }
    .timeline ol li{
        width: 130px;
    }
}
@media screen and (min-width: 375px) and (max-width: 539px){
    #timeline-mobile{
        display: table;
        visibility: visible;
    }
    .mobile-tile{
        display: block;
    }
    .desktop-tile{
        display: none!important;
    }
    #roadmap .title-roadmap{
        position: relative;
        font-size: 26px;
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
    #roadmap .title-roadmap p{
        text-align: center;
    }
}
@media screen and (max-width: 375px){
    #timeline-mobile{
        display: table;
        visibility: visible;
    }
    #roadmap .desktop-tile{
        display: none!important;
    }
    #roadmap .title-roadmap{
        position: relative;
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }
    #roadmap .title-roadmap p{
      text-align: center;
    }
}